<%#
This is a partial view that contains the javascript libraries required for the
frontend browser application to work.

Author: Vincent Ngan (Student Number: 301098907)
Date: 2023-10-01
File: footer.ejs
%>
    <%# The Popper.js library required for Bootstrap 5 to work. %>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
    <%# The Bootstrap 5 javascript library. %>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
    <%# The md-block javascript library for rendering Markdown content on client-side. %>
    <script src="https://md-block.verou.me/md-block.js" type="module"></script>
</body>
</html>
