<%#
This is a partial view that contains the javascript libraries required for the
frontend browser application to work.

Author: Vincent Ngan (Student Number: 301098907)
Date: 2023-10-01
File: footer.ejs
%>
    <div class="container">
        <figure class="text-end" style="font-size: 0.6rem;">
            <br/>
            <br/>
            Disclaimer: All contents in this website are fictitious. They are for illustration purpose only.
        </figure>
    </div>
<%# The Bootstrap 5 javascript library. %>
<script src="/scripts/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
