<%#
This is the EJS template for the About page.

Author: Vincent Ngan (Student Number: 301098907)
Date: 2023-10-01
File: About.ejs
%>
<%- include('partials/header'); %>
<div class="container my-4">
    <%- markdown `
        # About Me
    ` %>
    <div class="m-2">
        <img src="/images/VN_Photo.jpeg" alt="Vincent Ngan" width="120" height="120" class="rounded-circle my-1">
        <p style="width: 120px; text-align: center">Vincent Ngan</p>
    </div>
    <%- markdown`
        ---
        ## Summary
        With multiple decades of enriched experience in software development, I am a seasoned Software Engineer,
        Architect, and Technologist. I've had the privilege to lead the development of some large-scale mission-critical
        systems for a globally reputed transportation and logistics company, where I played a key role in supporting
        their worldwide operations. I bring a unique blend of technical excellency, strategic insight, and leadership, with
        an established track record of delivering innovative solutions that drive business success.

        ---
        ## Work Experience
        **Company:**
        Hutchison Ports - Kwai Chung, New Territories, Hong Kong

        I began my journey with Hutchison Ports in the late '80 as a Systems Analyst, and I progressed to the role of
        Manager, and ultimately Principal Architect - Information Technology.

        Since I joined Hutchison Ports, the company evolved from a local container port operation in Hong Kong to an
        international corporation with a global presence in over 50 countries. Apart from the first generation,
        my contributions were instrumental in architecting all subsequent generations of the company's flagship
        container port operating system. I helped transition it from a mainframe to a large-scale distributed
        computing system, and ultimately to a cloud-capable platform with scalability to support global
        operations.

        [Resume](/documents/Vincent_Ngan_Resume.pdf)

        ---

        [Back to Home](/)
    `
    %>
</div>
<%- include('partials/footer'); %>
