<%#
This is the EJS template for the Contact page.

Author: Vincent Ngan (Student Number: 301098907)
Date: 2023-10-01
File: Contact.ejs
%>
<%- include('partials/header'); %>
<div class="container my-4">
    <%- markdown `
        # Contact Me

        I'm excited to hear from you! Whether it's a new project, questions about the services I offer, or anything
        else, feel free to get in touch using the contact details below.

        ---

        ## Contact Details

        - **Email**: [ngan.vincent@gmail.com](mailto:ngan.vincent@gmail.com)
        - **Phone**: (123) 456-7890
        - **LinkedIn**: [Vincent Ngan](https://www.linkedin.com/in/vincent-ngan-13b46384/)
        - **GitHub**: [vngantk](https://www.github.com/vngantk)

        ---

        ## Address

        1234 Your Street
        Your City, State, ZIP
        Country

        ---

        [Back to Home](/)
    `%>
</div>
<%- include('partials/footer'); %>
